neo4j
pyshark
pandas
numpy
scikit-learn
kneed
torch
accelerate
bitsandbytes
transformers
openai
vllm
semantic-kernel
smolagents
duckduckgo-search
langchain
langchain_core
langgraph
langchain_openai
langchain-huggingface
matplotlib
requests
rich
plotille
gradio
ipinfo
mlflow
mcp