neo4j
pyshark
pandas
numpy
scikit-learn
kneed
torch
accelerate
bitsandbytes
transformers==4.51.3
openai
semantic-kernel
smolagents==1.13.0
semantic-kernel
duckduckgo-search
matplotlib
requests
rich
plotille