neo4j
pyshark
psutil
pandas
numpy
scikit-learn
kneed
torch
accelerate
bitsandbytes
transformers
openai>=2,<3
vllm
smolagents
duckduckgo-search
langchain
langchain_core
langgraph
langchain_openai
langchain-huggingface
matplotlib
requests
rich
plotille
ipinfo
mlflow
mcp